.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

.stats-table-configuration {
  display: flex;
  flex-direction: column; }
  .stats-table-configuration > * {
    margin: 2% 1%; }
  .stats-table-configuration p {
    text-align: left;
    font-size: 1.2em;
    padding: 0; }
    .stats-table-configuration p:first-child span {
      margin-left: 10px;
      font-family: monospace;
      font-size: .8em; }
  .stats-table-configuration ul {
    list-style-type: none;
    padding: 2% 0 0;
    flex: 1; }
    .stats-table-configuration ul > * {
      margin-top: 1%;
      margin-bottom: 1%; }
    .stats-table-configuration ul li {
      font-family: monospace;
      padding-left: 5%; }
