@import 'styles/globals.scss';

.stats-table-configuration {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 2% 1%;
  }

  p {
    text-align: left;
    font-size: 1.2em;
    padding: 0;

    &:first-child {
      span {
        margin-left: 10px;
        font-family: monospace;
        font-size: .8em;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 2% 0 0; //15%;
    // @extend %mini-content-box;
    flex: 1;

    & > * {
      // margin: 1% 2%;
      margin-top: 1%;
      margin-bottom: 1%;
    }

    li {
      font-family: monospace;
      padding-left: 5%;
    }
  }
}