$midground: #0d0e0c;
$foreground: #121212;
// $main-border: #aaadba;
$main-border: #888888;
$dark-border: #5a5a5a;
$main-text: #ffffff;
$title-color: rgba(65,129,249,1);
$active-nav: #e4d594;

$green: #2BD82E;
$red: #E70400;
$blue: #5689e6;
$yellow: #E6EA30;
$shiny-blue: #37bcfa;
$add-button: #118e09;

$input-border: #a45000;

@mixin x-appearance ($value) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
    appearance: $value;
}

@mixin transform ($values...) {
-moz-transform: $values;
-webkit-transform: $values;
    transform: $values;
}
@mixin transform-origin ($values...) {
-moz-transform-origin: $values;
-webkit-transform-origin: $values;
    transform-origin: $values;
}

@mixin transition($transition...) {
-moz-transition:    $transition;
-o-transition:      $transition;
-webkit-transition: $transition;
transition:         $transition;
}

@mixin shadow($values...) {
-moz-box-shadow:    $values;
-webkit-box-shadow: $values;
box-shadow:         $values;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

%bullet {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  position: relative;
  left: -5px;
  bottom: 2px;
}

%shadow-section {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .81)
}

%content-box {
  @extend %shadow-section;
  padding: 10px;
  border: 1px solid $main-border;
  border-radius: 5px;
  background: $midground;
}

%mini-content-box {
  @extend %shadow-section;
  background: $foreground;
  border-radius: 8px;
  border: 2px solid $input-border;
}

%dropdown {
  text-align-last: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: $midground;
  border-width: 0px;
  border-bottom: 1px solid $input-border;
  border-right: 1px solid $input-border;
  color: $main-text;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  @include x-appearance(none);
  width: 25px;
  height: 3px;
  background: $dark-border;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer;

  &:before,
  &:after{
    position: absolute;
    content: "";
    @include transition(all .25s);
  }

  &:before{
    width: 12px;
    height: 12px;
    background: $main-text;
    border: 2px solid $midground;
    border-radius: 50%;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
  }

  &:after{
    width: 10px;
    height: 10px;
    background: $midground;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    @include transform(scale(1) translateY(-50%));
    @include transform-origin(50% 50%);
  }

  &:checked {
    &:before {
      left: calc(100% - 14px);
    }

    &:after{
      left: 15px;
      @include transform(scale(0));
    }
  }
}

