@import url('https://fonts.googleapis.com/css?family=Noto+Sans|PT+Sans');
@import 'styles/globals.scss';

* {
  font-family: 'Noto Sans', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  color: $main-text;
}

.app {
  display: grid;
  grid-template-columns: 1fr repeat(3, calc(1000px / 3)) 1fr;
  grid-template-rows: 70px 1fr;
}