.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.games-info p:before {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  position: relative;
  left: -5px;
  bottom: 2px; }

.stats-table-info select {
  text-align-last: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: #0d0e0c;
  border-width: 0px;
  border-bottom: 1px solid #a45000;
  border-right: 1px solid #a45000;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

.stats-table-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-content: center; }
  .stats-table-info div:first-child {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
  .stats-table-info select {
    font-size: 1.2em;
    height: 2em; }
  .stats-table-info p {
    margin: 0 auto;
    padding: 0;
    text-align: center; }

.games-info {
  font-size: 1rem;
  margin-top: 5px;
  padding: 0 5%; }
  .games-info p {
    text-align: left; }
    .games-info p:first-child:before {
      background: #2BD82E; }
    .games-info p:last-child:before {
      background: #E6EA30; }
