@import 'styles/globals.scss';

.stats-table-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-content: center;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  select {
    @extend %dropdown;
    font-size: 1.2em;
    height: 2em;
  }

  p {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

.games-info {
  font-size: 1rem;
  margin-top: 5px;
  padding: 0 5%;
  // @extend %mini-content-box;

  p {
    text-align: left;

    &:before {
      @extend %bullet;
    }

    &:first-child:before {
      background: $green;
    }

    &:last-child:before {
      background: $yellow;
    }
  }
}