@import 'styles/globals.scss';

$fixed-table-height: 90vh;
$fixed-table-header-height: 28px;
$fixed-table-col-width: 80px;

.fixed-table {
  position: relative;
  height: $fixed-table-height;

  .fixed-table__sidebar {
    position: absolute; // TODO: decide if necessary
    top: 10px;
    left: 10px;
    width: calc(2 * #{$fixed-table-col-width});  //TODO: Determine dynamically
    height: $fixed-table-height;

    .fixed-table__scrollable-sidebar {
      position: relative;
      height: calc(100% - (#{$fixed-table-header-height} * 2)); //TODO: Determine dynamically
      top: calc(#{$fixed-table-header-height} * 2); //TODO: Determine dynamically
      width: 100%;
      overflow: hidden;
    }
  }

  .fixed-table__header {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(#{$fixed-table-header-height} * 2); //TODO: Determine dynamically
    // border-bottom: 1px solid $main-border;

    .fixed-table__scrollable-header {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 100%;
    }

    .fixed-table__header-row {
      width: 100%;
      height: $fixed-table-header-height;
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;

      .fixed-table__th {
        box-sizing: border-box;
        flex-shrink: 0;
        width: $fixed-table-col-width;
      }
    }
  }

  .fixed-table__list {
    position: relative;
    height: calc(100% - (#{$fixed-table-header-height} * 2)); //TODO: Determine dynamically

    .fixed-table__list-row {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      .fixed-table__td {
        flex-shrink: 0;
        box-sizing: border-box;
        width: $fixed-table-col-width;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // border-bottom: 1px solid $main-border;
      }
    }
  }

  .fixed-table__list--fixed {
    height: auto;
    overflow: visible;
  }

  .fixed-table__body {
    position: relative;
    margin-left: calc(2 * #{$fixed-table-col-width});  //TODO: Determine dynamically
    height: 100%;
    
    .fixed-table__list {
      top: calc(#{$fixed-table-header-height * 2}); //TODO: Determine dynamically
    }
  }
}