.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

.fixed-table {
  position: relative;
  height: 90vh; }
  .fixed-table .fixed-table__sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(2 * 80px);
    height: 90vh; }
    .fixed-table .fixed-table__sidebar .fixed-table__scrollable-sidebar {
      position: relative;
      height: calc(100% - (28px * 2));
      top: calc(28px * 2);
      width: 100%;
      overflow: hidden; }
  .fixed-table .fixed-table__header {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(28px * 2); }
    .fixed-table .fixed-table__header .fixed-table__scrollable-header {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 100%; }
    .fixed-table .fixed-table__header .fixed-table__header-row {
      width: 100%;
      height: 28px;
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap; }
      .fixed-table .fixed-table__header .fixed-table__header-row .fixed-table__th {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 80px; }
  .fixed-table .fixed-table__list {
    position: relative;
    height: calc(100% - (28px * 2)); }
    .fixed-table .fixed-table__list .fixed-table__list-row {
      width: 100%;
      display: flex;
      flex-wrap: nowrap; }
      .fixed-table .fixed-table__list .fixed-table__list-row .fixed-table__td {
        flex-shrink: 0;
        box-sizing: border-box;
        width: 80px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
  .fixed-table .fixed-table__list--fixed {
    height: auto;
    overflow: visible; }
  .fixed-table .fixed-table__body {
    position: relative;
    margin-left: calc(2 * 80px);
    height: 100%; }
    .fixed-table .fixed-table__body .fixed-table__list {
      top: calc(56px); }
