.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

#stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__list-row .fixed-table__td:first-child:before, #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .playing .fixed-table__td:first-child:before {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  position: relative;
  left: -5px;
  bottom: 2px; }

#stats-table-sticky .fixed-table {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.81); }

#stats-table-sticky .fixed-table {
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background: #0d0e0c; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

#stats-table-main {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr; }

#stats-table-sticky {
  border-color: #aaadba;
  grid-row: 2;
  position: relative;
  width: 1000px;
  height: 90vh; }
  #stats-table-sticky .fixed-table .fixed-table__header {
    font-weight: bold;
    border-bottom: 1px solid #aaadba; }
    #stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row .fixed-table__th {
      border-color: #aaadba;
      border-width: 0 1px 0 0;
      border-style: none solid;
      height: 100%;
      width: 50px;
      margin-left: 1px; }
      #stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row .fixed-table__th.no-right {
        border-right-color: #121212; }
    #stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row:last-child .fixed-table__th:hover {
      cursor: pointer; }
  #stats-table-sticky .fixed-table .fixed-table__td {
    border-color: #aaadba;
    border-bottom: 0px solid;
    padding: 0px 8px; }
  #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header {
    margin-left: 1px; }
    #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row .fixed-table__th {
      padding: 0 8px;
      width: 50px; }
    #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row:last-child .fixed-table__th {
      text-align: right; }
  #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__list {
    padding-top: 5px; }
    #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__list .fixed-table__list-row .fixed-table__td {
      width: 50px;
      text-align: right;
      padding: 0 8px;
      border-width: 0 1px 0 0;
      border-style: none solid;
      border-color: #ffffff00;
      margin-left: 1px; }
      #stats-table-sticky .fixed-table .fixed-table__body .fixed-table__list .fixed-table__list-row .fixed-table__td span {
        content: '';
        display: inline-block;
        width: 1.5em;
        height: .8em;
        position: relative;
        left: 0px; }
  #stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header {
    border-right: 4px solid #aaadba;
    margin-left: 1px; }
  #stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__th {
    position: relative;
    border: none;
    padding: 0 8px;
    text-align: left;
    margin-left: -1px; }
  #stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header-row:last-child .fixed-table__th:first-child {
    width: 60px; }
  #stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header-row:last-child .fixed-table__th:last-child {
    width: 90px;
    border-right: none; }
  #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar {
    padding-right: 1px;
    padding-top: 5px;
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: #aaadba; }
    #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__list-row .fixed-table__td {
      padding-left: 10px;
      text-align: left;
      width: 50px; }
      #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__list-row .fixed-table__td:first-child {
        width: 60px;
        position: relative;
        font-size: 1em;
        position: relative;
        left: -5px; }
        #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__list-row .fixed-table__td:first-child:before {
          background: #E70400; }
    #stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .playing .fixed-table__td:first-child:before {
      background: #2BD82E; }
  #stats-table-sticky .sorted {
    color: #5689e6; }
