@import 'styles/globals.scss';

$stats-table-border: #aaadba;// #746b27;
$stats-table-height: 90vh;

#stats-table-main {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}

#stats-table-sticky {
  border-color: $stats-table-border;
  grid-row: 2;
  position: relative;
  width: 1000px;
  height: $stats-table-height;

  .fixed-table {
    @extend %content-box;
    // height: $stats-table-height;

    .fixed-table__header {
      font-weight: bold;
      border-bottom: 1px solid $stats-table-border;

      .fixed-table__header-row {
        .fixed-table__th {
          border-color: $stats-table-border;
          border-width: 0 1px 0 0;
          border-style: none solid;
          height: 100%;
          width: 50px;
          margin-left: 1px;

          &.no-right {
            border-right-color: $foreground;
          }
        }

        &:last-child {
          .fixed-table__th {
            &:hover {
              cursor: pointer;
            }
          }
        }

      }
    }

    .fixed-table__td {
      border-color: $stats-table-border;
      border-bottom: 0px solid;
      padding: 0px 8px;
    }

    .fixed-table__body {
      .fixed-table__header {
        margin-left: 1px;

        .fixed-table__header-row {
          .fixed-table__th {
            padding: 0 8px;
            width: 50px;
          }

          // TODO: determine dynamically
          &:last-child {
            .fixed-table__th {
              text-align: right;
            }
          }
        }
      
      }

      .fixed-table__list {
        padding-top: 5px;
        .fixed-table__list-row {
          .fixed-table__td {
            width: 50px;
            text-align: right;
            padding: 0 8px;
            border-width: 0 1px 0 0;
            border-style: none solid;
            border-color: #ffffff00;
            margin-left: 1px;

            span {
              content: '';
              display: inline-block;
              width: 1.5em;
              height: .8em;
              position: relative;
              left: 0px;
            }
          }
        }
      }
    }
    .fixed-table__sidebar {
      .fixed-table__header {
        border-right: 4px solid $stats-table-border;
        margin-left: 1px;
      }

      .fixed-table__th {
        position: relative;
        border: none;
        padding: 0 8px;
        text-align: left;
        margin-left: -1px;
      }

      .fixed-table__header-row {
        &:last-child {
          .fixed-table__th {
            &:first-child {
              width: 60px; // TODO: figure out dynamically. Idea: render header, then calculate widths for columns
            }

            &:last-child {
              width:90px; // TODO: figure out dynamically. Idea: render header, then calculate widths for columns
              border-right: none;
            }
          }
        }
      }
    }

    .fixed-table__scrollable-sidebar {
      padding-right: 1px;
      padding-top: 5px;
      border-width: 0 4px 0 0 ;
      border-style: solid;
      border-color: $stats-table-border;
      
      .fixed-table__list {
        .fixed-table__list-row {
          .fixed-table__td {
            padding-left: 10px;
            text-align: left;
            width: 50px;

            &:first-child {
              width: 60px;
              position: relative;
              font-size: 1em;
              position: relative;
              left: -5px;
              
              &:before {
                @extend %bullet;
                background: $red;
              }
            }
          }
        }
        
        .playing .fixed-table__td:first-child:before {
          @extend %bullet;
          background: $green;
        }
      }
    }
  }

  .sorted {
    color: $blue;
  }
}