@import 'styles/globals.scss';

.stats-table-header {
  display: flex;

  & > div {
    flex: 1;
    margin: 10px 1%;
    @extend %content-box;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}