.filters {
  margin: 10px;
}

.filters p {
  display: inline;
}

.add-filter-form {
  display: inline;
}

.add-filter-form span, .add-filter-form form {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

.add-filter-form form label {
  margin-left: 5px;
  margin-right: 5px;
}

.add-filter-form form input[type=text] {
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
}

.add-filter-form form select {
  margin-left: 5px;
  margin-right: 5px;
}

.filter-playing-checkbox {
   margin-top: 10px;
}
