.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.no-left {
  border-left-style: none;
  border-left-width: 0px; }

.no-right {
  border-right-style: none;
  border-right-width: 0px; }

.disabled span {
  opacity: 0.6; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

.games-info p:before, .stats-table table tbody tr td:first-child:before, .stats-table-sticky table tbody tr td:first-child:before, .stats-table table tbody tr.playing td:first-child:before, .stats-table-sticky table tbody tr.playing td:first-child:before, .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__row .fixed-table__col:first-child:before, .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .playing .fixed-table__col:first-child:before {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  position: relative;
  left: -5px;
  bottom: 2px; }

.stats-table-header > div, .stats-table table, .stats-table-sticky table, .stats-table-sticky .fixed-table, .sticky-stats-table-2 {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.81); }

.stats-table-header > div, .stats-table table, .stats-table-sticky table, .stats-table-sticky .fixed-table, .sticky-stats-table-2 {
  padding: 10px;
  border: 4px solid #aaadba;
  border-radius: 10px;
  background: #0d0e0c; }

.stats-table-info select, .column-selections select {
  text-align: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: #0d0e0c;
  border-width: 0px;
  border-bottom: 1px solid #a45000;
  border-right: 1px solid #a45000;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.stats-table-sticky .fixed-table .fixed-table__body .fixed-table__list .fixed-table__row .fixed-table__col:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: .8em;
  position: relative;
  left: 4px;
  background: linear-gradient(to right, #00a300, #00a300); }

* {
  font-family: 'Noto Sans', sans-serif; }

body {
  font-family: 'Noto Sans', sans-serif;
  background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  display: grid;
  grid-template-columns: 1fr repeat(3, calc(1000px / 3)) 1fr;
  grid-template-rows: 60px 1fr;
  color: #ffffff; }

body > * {
  grid-column-start: 2; }

header {
  grid-column-end: 2;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff; }
  header h1 {
    padding: 0;
    color: #4181f9;
    font-size: 3em;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.81); }

nav {
  grid-row: 1;
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid #ffffff; }
  nav a {
    font-size: 1.5em;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00; }
    nav a.active {
      color: #e4d594; }
    nav a:hover {
      color: #5689e6;
      cursor: pointer; }
    nav a:nth-last-child(2) {
      margin-right: 50px; }
  nav .user {
    padding-right: 10px;
    font-size: 1.5em; }

main {
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr; }

.stats-table-header {
  display: flex; }
  .stats-table-header > div {
    flex: 1;
    margin: 5% 1%; }
    .stats-table-header > div:first-child {
      margin-left: 0; }
    .stats-table-header > div:last-child {
      margin-right: 0; }

.stats-table-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-content: center; }
  .stats-table-info select {
    font-size: 1.2em; }
  .stats-table-info p {
    margin: 0 auto;
    padding: 0;
    text-align: center; }

.games-info {
  font-size: 1rem;
  margin-top: 5%;
  padding: 5%; }
  .games-info p {
    text-align: left; }
    .games-info p:first-child:before {
      background: #2BD82E; }
    .games-info p:last-child:before {
      background: #E6EA30; }

.stats-table-quick-options {
  display: flex;
  flex-direction: column; }
  .stats-table-quick-options > * {
    margin: 2% 1%; }
  .stats-table-quick-options p {
    text-align: left;
    font-size: 1.2em;
    padding: 0; }
    .stats-table-quick-options p:first-child span {
      margin-left: 10px;
      font-family: monospace;
      font-size: .8em; }
  .stats-table-quick-options ul {
    list-style-type: none;
    padding: 2% 0 0;
    flex: 1; }
    .stats-table-quick-options ul > * {
      margin-top: 1%;
      margin-bottom: 1%; }
    .stats-table-quick-options ul li {
      font-family: monospace;
      padding-left: 5%; }

.stats-table-column-controls {
  display: flex;
  flex-direction: column; }
  .stats-table-column-controls h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em; }
  .stats-table-column-controls > * {
    margin: 2% 1%; }

.column-selections {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .column-selections > * {
    display: flex;
    justify-content: flex-start;
    margin: 5% 0; }
  .column-selections select {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%; }
  .column-selections button {
    font-size: .8em;
    background: #118e09;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    padding: 8px; }

.stats-table, .stats-table-sticky {
  grid-row: 2;
  min-height: 500px; }
  .stats-table th, .stats-table-sticky th {
    border: 0px solid black; }
  .stats-table table, .stats-table-sticky table {
    border-spacing: 0px;
    margin-bottom: 50px; }
    .stats-table table thead tr th, .stats-table-sticky table thead tr th {
      border-color: #aaadba;
      border-width: 0 1px;
      border-style: none solid;
      padding: 3px 12px;
      vertical-align: bottom;
      min-width: 10px;
      white-space: nowrap; }
      .stats-table table thead tr th:last-child, .stats-table-sticky table thead tr th:last-child {
        width: 100%; }
    .stats-table table thead tr:last-child th, .stats-table-sticky table thead tr:last-child th {
      border-bottom: 1px solid #aaadba; }
      .stats-table table thead tr:last-child th:nth-child(n + 3), .stats-table-sticky table thead tr:last-child th:nth-child(n + 3) {
        text-align: right; }
    .stats-table table tbody tr td, .stats-table-sticky table tbody tr td {
      margin: 5px;
      padding: 2px 12px; }
      .stats-table table tbody tr td:nth-child(n + 3), .stats-table-sticky table tbody tr td:nth-child(n + 3) {
        text-align: right; }
      .stats-table table tbody tr td:first-child:before, .stats-table-sticky table tbody tr td:first-child:before {
        background: #E70400; }
      .stats-table table tbody tr td:first-child, .stats-table-sticky table tbody tr td:first-child {
        position: relative;
        left: -7.5px;
        font-size: 1em; }
    .stats-table table tbody tr.playing td:first-child:before, .stats-table-sticky table tbody tr.playing td:first-child:before {
      background: #2BD82E; }

.fixed-table {
  position: relative;
  height: 300px; }

.fixed-table__sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(2 * 80px);
  height: 300px; }
  .fixed-table__sidebar .fixed-table__header {
    width: 100%; }

.fixed-table__sidebar .fixed-table__col {
  width: 80px; }

.fixed-table__scrollable-sidebar {
  position: relative;
  height: calc(100% - (28px * 2));
  top: calc(28px * 2);
  width: 100%;
  overflow: hidden; }

.fixed-table__list {
  position: relative;
  height: calc(100% - (28px * 2)); }

.fixed-table__list--fixed {
  height: auto;
  overflow: visible; }

.fixed-table__header-row {
  width: 100%;
  height: 28px;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap; }

.fixed-table__header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(28px * 2);
  border-bottom: 1px solid #aaadba; }

.fixed-table__scrollable-header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%; }

.fixed-table__body {
  position: relative;
  margin-left: calc(2 * 80px);
  max-width: calc(100% - 80px);
  height: 100%; }

.fixed-table__body .fixed-table__list {
  top: calc(56px); }

.fixed-table__th {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 80px; }

.fixed-table__row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap; }

.fixed-table__col {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #aaadba; }

.stats-table-sticky {
  border-color: #aaadba;
  grid-row: 2;
  position: relative;
  width: 1000px;
  height: 40vh; }
  .stats-table-sticky .fixed-table .fixed-table__header {
    font-weight: bold; }
    .stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row .fixed-table__th {
      border-color: #aaadba;
      border-width: 0 1px 0 0;
      border-style: none solid;
      height: 100%;
      width: 50px;
      margin-left: 1px; }
      .stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row .fixed-table__th.no-right {
        border-right-color: #121212; }
    .stats-table-sticky .fixed-table .fixed-table__header .fixed-table__header-row:last-child .fixed-table__th:hover {
      cursor: pointer; }
  .stats-table-sticky .fixed-table .fixed-table__col {
    border-color: #aaadba;
    border-bottom: 0px solid;
    padding: 2px 8px; }
  .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header {
    margin-left: 1px; }
    .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row .fixed-table__th {
      text-align: right;
      padding: 0 8px;
      width: 50px; }
    .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row:first-child div {
      text-align: left; }
    .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row:first-child div:nth-child(1) {
      width: calc(4 * 50px + 3px); }
    .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__header .fixed-table__header-row:first-child div:nth-child(2) {
      width: 100%; }
  .stats-table-sticky .fixed-table .fixed-table__body .fixed-table__list .fixed-table__row .fixed-table__col {
    width: 50px;
    text-align: right;
    padding: 0 8px;
    border-width: 0 1px 0 0;
    border-style: none solid;
    border-color: #ffffff00;
    margin-left: 1px; }
  .stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header {
    border-right: 1px solid #aaadba;
    border-left: 1px solid #aaadba; }
  .stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__th {
    position: relative;
    border: none;
    padding: 0 8px;
    text-align: left;
    margin-left: -1px; }
  .stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header-row:last-child .fixed-table__th:first-child {
    width: 60px; }
  .stats-table-sticky .fixed-table .fixed-table__sidebar .fixed-table__header-row:last-child .fixed-table__th:last-child {
    width: 90px;
    border-right: none; }
  .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar {
    padding-right: 1px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #aaadba; }
    .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__row .fixed-table__col {
      padding-left: 10px;
      text-align: left;
      width: 50px; }
      .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__row .fixed-table__col:first-child {
        width: 60px;
        position: relative;
        font-size: 1em;
        position: relative;
        left: -5px; }
        .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .fixed-table__row .fixed-table__col:first-child:before {
          background: #E70400; }
    .stats-table-sticky .fixed-table .fixed-table__scrollable-sidebar .fixed-table__list .playing .fixed-table__col:first-child:before {
      background: #2BD82E; }

.sticky-stats-table-2 {
  border-color: #aaadba;
  grid-row: 4;
  height: 200px;
  display: flex; }
  .sticky-stats-table-2 table {
    table-layout: fixed; }
    .sticky-stats-table-2 table thead tr {
      display: block;
      position: relative; }
      .sticky-stats-table-2 table thead tr th {
        border-color: #aaadba;
        border-width: 0 1px;
        border-style: none solid;
        margin: 0;
        padding: 0 10px;
        width: 15px; }
        .sticky-stats-table-2 table thead tr th.hide {
          visibility: hidden; }
      .sticky-stats-table-2 table thead tr:last-child th {
        border-bottom: 1px solid #aaadba; }
        .sticky-stats-table-2 table thead tr:last-child th:nth-child(n + 3) {
          text-align: right; }
    .sticky-stats-table-2 table tbody {
      height: 130px;
      display: block;
      overflow: auto; }
      .sticky-stats-table-2 table tbody tr td {
        margin: 0;
        padding: 0 10px; }
  .sticky-stats-table-2 .side-table thead tr th {
    min-width: 50px; }
  .sticky-stats-table-2 .side-table tbody tr td {
    min-width: 50px; }
  .sticky-stats-table-2 .main-table tr th {
    white-space: nowrap; }
