// @import "project-setup";

$midground: #0d0e0c;
$foreground: #121212;
$main-border: #aaadba;
$dark-border: #5a5a5a;
$main-text: #ffffff;
$title-color: rgba(65,129,249,1);
$active-nav: #e4d594;

$green: #2BD82E;
$red: #E70400;
$blue: #5689e6;
$yellow: #E6EA30;
$shiny-blue: #37bcfa;
$add-button: #118e09;

$input-border: #a45000;


@mixin x-appearance ($value) {
        -webkit-appearance: $value;
           -moz-appearance: $value;
          appearance: $value;
}

@mixin transform ($values...) {
     -moz-transform: $values;
  -webkit-transform: $values;
          transform: $values;
}
@mixin transform-origin ($values...) {
     -moz-transform-origin: $values;
  -webkit-transform-origin: $values;
          transform-origin: $values;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin shadow($values...) {
   -moz-box-shadow:    $values;
   -webkit-box-shadow: $values;
   box-shadow:         $values;
}

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient(to $direction, $list);
  background: -moz-linear-gradient(to $direction, $list);
  background: -o-linear-gradient(to $direction, $list);
  background: linear-gradient(to $direction, $list);  
}

.green {
  color: $green;
}

.red {
        color: $red;
}

.blue {
  color: $blue;
}

.no-left {
        border-left-style: none;
        border-left-width: 0px;
}

.no-right {
        border-right-style: none;
        border-right-width: 0px;
}

.disabled span {
        opacity:0.6;
}

.checkbox {
  @include x-appearance(none);
  width: 25px;
  height: 3px;
  background: $dark-border;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer;

  &:before,
  &:after{
    position: absolute;
    content: "";
    @include transition(all .25s);
  }

  &:before{
    width: 12px;
    height: 12px;
    background: $main-text;
    border: 2px solid $midground;
    border-radius: 50%;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
  }

  &:after{
    width: 10px;
    height: 10px;
    background: $midground;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    @include transform(scale(1) translateY(-50%));
    @include transform-origin(50% 50%);
  }

  &:checked {
    &:before {
      left: calc(100% - 14px);
    }

    &:after{
      left: 15px;
      @include transform(scale(0));
    }
  }
}

%bullet {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  position: relative;
  left: -5px;
  bottom: 2px;
}

%shadow-section {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .81)
}

%content-box {
  @extend %shadow-section;
  padding: 10px;
  border: 4px solid $main-border;
  border-radius: 10px;
  background: $midground;
}

%mini-content-box {
  @extend %shadow-section;
  background: $foreground;
  border-radius: 8px;
  border: 2px solid $input-border;
}

%dropdown {
  text-align: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: $midground;
  border-width: 0px;
  border-bottom: 1px solid $input-border;
  border-right: 1px solid $input-border;
  color: $main-text;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

%rank {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: .8em;
  position: relative;
  left: 0px;
  background: linear-gradient(to right, rgba(0, 163, 0, 1), rgba(0, 0, 0, 0));
  // @include gradient(right, (#00a300), (#00a30000));
  // background: linear-gradient(to bottom, #00a300 0%,#00a30000 100%);
}

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  display: grid;
  grid-template-columns: 1fr repeat(3, calc(1000px / 3)) 1fr;
  grid-template-rows: 60px 1fr;
  color: $main-text;
}

body > * {
  grid-column-start: 2;
}

header {
  grid-column-end: 2;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $main-text;

  h1 {
    padding: 0;
    color: $title-color;
    font-size: 3em;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, .81)
  }
}

nav {
  grid-row: 1;
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid $main-text;

  a {
    font-size: 1.5em;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00;

    &.active {
      color: $active-nav;
    }

    &:not(.active) {

    }

    &:hover {
      color: $blue;
      cursor: pointer;
    }
           
    &:nth-last-child(2) {
      margin-right: 50px;
    }
  }

  .user {
    padding-right: 10px;
    font-size: 1.5em;
  }
}

main {
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}

.stats-table-header {
  display: flex;

  & > div {
    flex: 1;
    margin: 5% 1%;
    @extend %content-box;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.stats-table-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-content: center;


  select {
    @extend %dropdown;
    font-size: 1.2em;
  }

  p {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

.games-info {
  font-size: 1rem;
  margin-top: 5%;
  padding: 5%;
  // @extend %mini-content-box;

  p {
    text-align: left;

    &:before {
      @extend %bullet;
    }

    &:first-child:before {
      background: $green;
    }

    &:last-child:before {
      background: $yellow;
    }
  }
}

.stats-table-quick-options {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 2% 1%;
  }

  p {
    text-align: left;
    font-size: 1.2em;
    padding: 0;

    &:first-child {
      span {
        margin-left: 10px;
        font-family: monospace;
        font-size: .8em;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 2% 0 0; //15%;
    // @extend %mini-content-box;
    flex: 1;

    & > * {
      // margin: 1% 2%;
      margin-top: 1%;
      margin-bottom: 1%;
    }

    li {
      font-family: monospace;
      padding-left: 5%;
    }
  }
}

.stats-table-column-controls {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
  }

  & > * {
    margin: 2% 1%;
  }
}

.column-selections {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;

  & > * {
    display: flex;
    justify-content: flex-start;
    margin: 5% 0;
  }

  select {
    @extend %dropdown;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
  }

  button {
    font-size: .8em;
    background: $add-button;
    color: $main-text;
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
  }
}

.stats-table, .stats-table-sticky {
  grid-row: 2;
  min-height: 500px;

  th {
    border: 0px solid black;
  }

// https://codepen.io/MaxArt2501/pen/qLCmE
// react: https://codepen.io/Kamilius/pen/LpObwW?editors=0110
  table {
    @extend %content-box;
    border-spacing: 0px;
    margin-bottom: 50px;

    thead {
      tr {
        th {
          border-color: $main-border;
          border-width: 0 1px;
          border-style: none solid;
          padding: 3px 12px;
          vertical-align: bottom;
          min-width: 10px;
          white-space: nowrap;

          &:last-child {
            width: 100%;
          }
        }

        &:last-child {
          th {
            border-bottom: 1px solid $main-border;

            &:nth-child(n + 3) {
              text-align: right;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          margin: 5px;
          padding: 2px 12px;

          &:nth-child(n + 3) {
            text-align: right;
          }

          &:first-child:before {
            @extend %bullet;
            background: $red;
          }

          &:first-child {
            position: relative;
            left: -7.5px;
            font-size: 1em;
          }
        }

        &.playing td:first-child:before {
          @extend %bullet;
          background: $green;
        }
      }
    }
  }
};

$fixed-table-header-height: 28px;
$fixed-table-col-width: 80px;

.fixed-table {
  position: relative;
  height: 300px;
}

.fixed-table__sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(2 * #{$fixed-table-col-width});  //TODO: Determine dynamically
  height: 300px;

  .fixed-table__header {
    width: 100%;
  }
}

.fixed-table__sidebar .fixed-table__col {
  width: $fixed-table-col-width;
}

.fixed-table__scrollable-sidebar {
  position: relative;
  height: calc(100% - (#{$fixed-table-header-height} * 2)); //TODO: Determine dynamically
  top: calc(#{$fixed-table-header-height} * 2); //TODO: Determine dynamically
  width: 100%;
  overflow: hidden;
}

.fixed-table__list {
  position: relative;
  height: calc(100% - (#{$fixed-table-header-height} * 2)); //TODO: Determine dynamically
}

.fixed-table__list--fixed {
  height: auto;
  overflow: visible;
}

.fixed-table__header-row {
  width: 100%;
  height: $fixed-table-header-height;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}

.fixed-table__header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(#{$fixed-table-header-height} * 2); //TODO: Determine dynamically
  border-bottom: 1px solid $main-border;
}

.fixed-table__scrollable-header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

.fixed-table__body {
  position: relative;
  margin-left: calc(2 * #{$fixed-table-col-width});  //TODO: Determine dynamically
  max-width: calc(100% - #{$fixed-table-col-width});
  height: 100%;
}

.fixed-table__body .fixed-table__list {
  top: calc(#{$fixed-table-header-height * 2}); //TODO: Determine dynamically
}

.fixed-table__th {
  box-sizing: border-box;
  flex-shrink: 0;
  width: $fixed-table-col-width;
}

.fixed-table__row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.fixed-table__col {
  flex-shrink: 0;
  box-sizing: border-box;
  width: $fixed-table-col-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid $main-border;
}


.stats-table-sticky {
  border-color: $main-border;
  grid-row: 2;
  position: relative;
  width: 1000px;
  height: 40vh;

  .fixed-table {
    @extend %content-box;

    .fixed-table__header {
      font-weight: bold;

      .fixed-table__header-row {
        .fixed-table__th {
          border-color: $main-border;
          border-width: 0 1px 0 0;
          border-style: none solid;
          height: 100%;
          width: 50px;
          margin-left: 1px;

          &.no-right {
            border-right-color: $foreground;
          }
        }

        &:last-child {
          .fixed-table__th {
            &:hover {
              cursor: pointer;
            }
          }
        }

      }
    }

    .fixed-table__col {
      border-color: $main-border;
      border-bottom: 0px solid;
      padding: 0px 8px;
    }

    .fixed-table__body {
      .fixed-table__header {
        margin-left: 1px;

        .fixed-table__header-row {
          .fixed-table__th {
            text-align: right;
            padding: 0 8px;
            width: 50px;
          }

          // TODO: determine dynamically
          &:first-child {
            div {
              text-align: left;
            }

            div:nth-child(1) {
              width: calc(4 * 50px + 3px); // TODO: Determine dynamically
            }

            div:nth-child(2) {
              width: 100%;
            }
          }
        }
      
      }

      .fixed-table__list {
        .fixed-table__row {
          .fixed-table__col {
            width: 50px;
            text-align: right;
            padding: 0 8px;
            border-width: 0 1px 0 0;
            border-style: none solid;
            border-color: #ffffff00;
            margin-left: 1px;

            span {
              content: '';
              display: inline-block;
              width: 1.5em;
              height: .8em;
              position: relative;
              left: 0px;
            }
          }
        }
      }
    }

    .fixed-table__sidebar {
      .fixed-table__header {
        border-right: 1px solid $main-border;
        border-left: 1px solid $main-border;
      }

      .fixed-table__th {
        position: relative;
        border: none;
        padding: 0 8px;
        text-align: left;
        margin-left: -1px;
      }

      .fixed-table__header-row {
        &:last-child {
          .fixed-table__th {
            &:first-child {
              width: 60px; // TODO: figure out dynamically. Idea: render header, then calculate widths for columns
            }

            &:last-child {
              width:90px; // TODO: figure out dynamically. Idea: render header, then calculate widths for columns
              border-right: none;
            }
          }
        }
      }
    }

    .fixed-table__scrollable-sidebar {
      padding-right: 1px;
      border-width: 0 1px 0 0 ;
      border-style: solid;
      border-color: $main-border;
      
      .fixed-table__list {
        .fixed-table__row {
          .fixed-table__col {
            padding-left: 10px;
            text-align: left;
            width: 50px;

            &:first-child {
              width: 60px;
              position: relative;
              font-size: 1em;
              position: relative;
              left: -5px;
              
              &:before {
                @extend %bullet;
                background: $red;
              }
            }
          }
        }
        
        .playing .fixed-table__col:first-child:before {
          @extend %bullet;
          background: $green;
        }
      }
    }
  }
}

.sticky-stats-table-2 {
  border-color: $main-border;
  grid-row: 4;
  height: 200px;
  @extend %content-box;
  display: flex;

  table {
    table-layout: fixed;
    
    thead {
      tr {
        display: block;
        position: relative;

        th {
          border-color: $main-border;
          border-width: 0 1px;
          border-style: none solid;
          margin: 0;
          padding: 0 10px;
          width: 15px;


          &.hide {
            visibility: hidden;
          }
        }

        &:last-child {
          th {
            border-bottom: 1px solid $main-border;

            &:nth-child(n + 3) {
              text-align: right;
            }
          }
        }
      }
    }

    tbody {
      height: 130px;
      display: block;
      overflow: auto;

      tr {
        td {
          margin: 0;
          padding: 0 10px;
        }
      }
    }
  }

  .side-table {
    thead {
      tr {
        th {
          min-width: 50px;
        }
      }
    }

    tbody {
      tr {
        td {
          min-width: 50px;
        }
      }
    }
  }

  .main-table {
    tr {
      th {
        white-space: nowrap;
      }
    }
  }

}