@import 'styles/globals.scss';

#login-main {
  justify-items: center;
}

.login {
  @extend %content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 5%;
  height: 250px;
  width: 400px;

  h2 {
    padding: 0;
    margin: 5% 0 0 0;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-top: 20px;
  height: 100%;
  width: 100%;

  label {
    margin: 10px 0;
    width: 100%;
    display: flex;

    span {
      flex: 1;
      background: $blue;
      text-align: center;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 5px 0;
    }

    input {
      flex: 1;
      min-width: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-width: 0;
      text-align: center;
    }
  }

  #user-buttons {
    margin: 10px 0;
    display: flex;

    button {
      flex: 1;
      min-width: 0;
      color: $main-text;
      font-size: inherit;
      text-align: center;
      background: $green;
      border: 0;
      border-radius: 6px;
      padding: 5px;
      margin: 0 5px;
      align-self: center;

      &:hover {
        opacity: .8;
        cursor: pointer;
      }
    }
  }
}