.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.login {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.81); }

.login {
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background: #0d0e0c; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

#login-main {
  justify-items: center; }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 5%;
  height: 250px;
  width: 400px; }
  .login h2 {
    padding: 0;
    margin: 5% 0 0 0; }

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-top: 20px;
  height: 100%;
  width: 100%; }
  .login-form label {
    margin: 10px 0;
    width: 100%;
    display: flex; }
    .login-form label span {
      flex: 1;
      background: #5689e6;
      text-align: center;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 5px 0; }
    .login-form label input {
      flex: 1;
      min-width: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-width: 0;
      text-align: center; }
  .login-form #user-buttons {
    margin: 10px 0;
    display: flex; }
    .login-form #user-buttons button {
      flex: 1;
      min-width: 0;
      color: #ffffff;
      font-size: inherit;
      text-align: center;
      background: #2BD82E;
      border: 0;
      border-radius: 6px;
      padding: 5px;
      margin: 0 5px;
      align-self: center; }
      .login-form #user-buttons button:hover {
        opacity: .8;
        cursor: pointer; }
