.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

#admin-options {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.81); }

#admin-options {
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background: #0d0e0c; }

#admin-selections select {
  text-align-last: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: #0d0e0c;
  border-width: 0px;
  border-bottom: 1px solid #a45000;
  border-right: 1px solid #a45000;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

#admin-options-main {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }

#admin-options {
  height: 175px;
  display: flex; }
  #admin-options > div {
    margin: 2%; }

#admin-selections {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: space-around; }
  #admin-selections select {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    font-size: 1.2em; }

#admin-buttons {
  flex: 3;
  flex-wrap: wrap;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  width: 400px; }
  #admin-buttons button {
    font-size: 1em;
    background: #0f4392;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
    margin: 5% 5%; }
    #admin-buttons button:hover {
      cursor: pointer;
      background: #306fce; }
    #admin-buttons button:active {
      background: #22243c; }
    #admin-buttons button:disabled {
      background: #0f4392;
      opacity: 0.5; }

#admin-info {
  display: flex;
  flex-direction: column;
  margin-right: 5% !important;
  padding: 0 20px;
  justify-content: space-around;
  width: 100px; }
  #admin-info p {
    margin: 0; }
  #admin-info i {
    margin-right: 5px; }
