@import 'styles/globals.scss';

#admin-options-main {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#admin-options {
  @extend %content-box;
  height: 175px;
  display: flex;


  & > div {
    margin: 2%;
  }

}

#admin-selections {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: space-around;
  select {
    @extend %dropdown;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    font-size: 1.2em;
  }
}

#admin-buttons {
  flex: 3;
  flex-wrap: wrap;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  width: 400px;

  button {
    font-size: 1em;
    background: #0f4392;
    color: $main-text;
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
    margin: 5% 5%;

    &:hover {
      cursor: pointer;
      background: #306fce;
    }

    &:active {
      background: #22243c;
    }

    &:disabled {
      background: #0f4392;
      opacity: 0.5;
    }
  }
}

#admin-info {
  display: flex;
  flex-direction: column;
  margin-right: 5% !important;
  padding: 0 20px;
  justify-content: space-around;
  width: 100px;

  p {
    margin: 0;
    // flex: 1;
  }

  i {
    margin-right: 5px;
  }
  
}