.table    { 
  display: table;
  margin: 10px 
}
.table-row       { display: table-row; }
.table-header    { display: table-header-group; }
.table-body    { display: table-row-group; }
.table-footer    { display: table-footer-group; }
.table-cell, .table-head  { display: table-cell; }

.table-head {
  cursor: pointer;
  position: relative;
  background-clip: padding-box;
  font-weight: bold;
}

.table-cell, .table-head {
  padding: 5px;
}

.table-head.resource {
  background: lightblue;
}

.table-head.opposing {
  background: #F68A8A;
}

.table-head.resource_vs_opposing {
  background: rgb(117, 139, 235);
}

.table-head.opposing_vs_resource {
  background: rgb(213, 159, 101);
}

.table-head.info_resource_name {
  width: 120px;
}

.table-head.info_resource_city {
  width: 125px;
}

.table, .table-head, .table-cell {
  border: solid;
  border-width: 1px;
  border-collapse: collapse;
}

.table-header {
  margin-top: 20px;
}

.header {
  /* line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma; */
  position: relative;
}

.header-display {
  padding-right: 5px;
  padding-left: 3px;
}

.close-thin {
  color: #5E5D5D;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 1px;
  text-decoration: none;
  text-shadow: 0 1px 0 #B8B8B8;
  top: -1%;
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.header-description {
  display: none
}

.table-head:hover .header-description { /*the span will display just on :hover state*/
  display:block;
  position:absolute;
  top:75%;
  left: 50%;
  width: fit-content;
  border:2px solid #748496;
  border-radius: 5px;
  background-color:#F1F8FF; color:#000;
  text-align: center;
  padding:3px;
  font-size: .7em;
  z-index: 9999;
}