@import 'styles/globals.scss';

nav {
  grid-row: 1;
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid $main-text;

  a {
    font-size: 1.5em;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00;
    text-decoration: none;
    color: $main-text;

    &.active {
      color: $active-nav;
    }

    &:hover {
      color: $blue;
      cursor: pointer;
    }
           
    &:nth-last-child(2) {
      margin-right: 50px;
    }
  }


  i {
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00;
    color: $main-text;

    &.active {
      color: $active-nav;
    }

    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }

  .user {
    padding-right: 10px;
    font-size: 1.5em;
  }
}