.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

nav {
  grid-row: 1;
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid #ffffff; }
  nav a {
    font-size: 1.5em;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00;
    text-decoration: none;
    color: #ffffff; }
    nav a.active {
      color: #e4d594; }
    nav a:hover {
      color: #5689e6;
      cursor: pointer; }
    nav a:nth-last-child(2) {
      margin-right: 50px; }
  nav i {
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ffffff00;
    color: #ffffff; }
    nav i.active {
      color: #e4d594; }
    nav i:hover {
      color: #5689e6;
      cursor: pointer; }
  nav .user {
    padding-right: 10px;
    font-size: 1.5em; }
