.green {
  color: #2BD82E; }

.red {
  color: #E70400; }

.blue {
  color: #5689e6; }

.yellow {
  color: #E6EA30; }

.column-selections select {
  text-align-last: center;
  font-size: 1em;
  padding: 3px;
  margin: 10px 3px;
  background: #0d0e0c;
  border-width: 0px;
  border-bottom: 1px solid #a45000;
  border-right: 1px solid #a45000;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 3px;
  background: #5a5a5a;
  border-radius: 2px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .checkbox:before, .checkbox:after {
    position: absolute;
    content: "";
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .checkbox:before {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .checkbox:after {
    width: 10px;
    height: 10px;
    background: #0d0e0c;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    -moz-transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .checkbox:checked:before {
    left: calc(100% - 14px); }
  .checkbox:checked:after {
    left: 15px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }

.stats-table-column-controls {
  display: flex;
  flex-direction: column; }
  .stats-table-column-controls h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em; }
  .stats-table-column-controls > * {
    margin: 2% 1%; }

.column-selections {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around; }
  .column-selections > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em; }
  .column-selections select {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    font-size: .8em; }
  .column-selections button {
    font-size: .8em;
    background: #118e09;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
    margin-right: 5%; }
    .column-selections button:hover {
      cursor: pointer; }

#fieldSelect {
  width: 15%; }
