@import 'styles/globals.scss';

.stats-table-column-controls {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
  }

  & > * {
    margin: 2% 1%;
  }
}

.column-selections {
  // margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  // align-items: space-around;

  & > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin: 5% 0;
    height: 2em;
  }

  select {
    @extend %dropdown;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    font-size: .8em;
  }

  button {
    font-size: .8em;
    background: $add-button;
    color: $main-text;
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
    margin-right: 5%;

    &:hover {
      cursor: pointer;
    }
  }
}

#fieldSelect {
  width: 15%;
}