@import 'styles/globals.scss';

header {
  grid-column: 2 / 2;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $main-text;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 3em;

    a {
      text-shadow: 3px 5px 5px rgba(0, 0, 0, .81);
      text-decoration: none;
      color: $title-color;
    }
  }
}